.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    background-color: rgb(60, 55, 55);
  }
  .mealsLoading{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 4rem;
    font-style: italic;
  }
  .mealsError{
    text-align: center;
    color: rgb(30, 209, 176);
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
  }
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }